.run-details {
    .drawer__add_remove {
        align-items: center;
        justify-content: center;
        display: flex;
    }

    .ant-input-group {
        margin-bottom: 20px;
    }

    .ant-form-item-control-input-content {
        display: flex;
    }
}